body { font-size: 18px; }
*{
    padding:0;
    margin:0;
}
aside{
    min-width: 250px;
    width: 15vw;
}

.sections{
    width: 85vw;
    background-color: white; color: black;
    transition: all .3s ease-out;

}
.section{
    padding-top: 20px;
    width: 100%;
    height: 100vh;
}

.section-1{
    font-family: 'Anton', sans-serif;
    height: 600px;
}

.section-1 p{
    word-wrap: break-word;
}

.portfolioContainer{
    opacity: 0.8;
}
.show-portfolio{
    opacity: 1;
    transition: opacity 1s linear;
}

.heading{
    font-size: 4.5rem;
}

.section-2{
    font-family: 'Anton', sans-serif;
    display: flex;
    flex-direction: column;
    height: 85vh;
    background-color: inherit;
}

.sect2-pin{
    background-color: rgba(241, 241, 241, 0.973);
    transition: background-color .3s;
}

.section-3{
    height: 100vh;
    font-family: 'Anton', sans-serif;
    font-size: 186px;
}

main{
    display: flex;
    flex-direction: row;
}
nav{
    position: fixed; right: 0;
    background-color: white;
    z-index: 99999;
}

.nav-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-right div{
    margin-right: 5px;
}
.nav-item{
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    padding-left: 5px;
    color:black;
    z-index: 10;
}

.active{
    color: #f44336;
}


/* skillsect section*/
.skillset-container{
    max-width: 600px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.portfolioContainer{
    max-width: 1400px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content:  space-around;
    align-items: center;
}
.portfolioItem{
    width: 340px;
    height: 300px;
    position: relative;
}
.portfolioItem a{
    height: 100%; width: 100%;
    display: flex;
    justify-content: center; align-items: center;

    z-index: 1;
    transition: background-color 1s linear;

    text-decoration: none;
    color: white;

    font-size: 46px;
    letter-spacing: 1.5px;
}

.hiremeContainer{
    font-size: 16px;
    padding-left: 5px;
}
.hiremeList li a{
    color: inherit;
    text-decoration: none;
}
.hiremeList li a:hover{
    color: #f44336;
    text-decoration: none;
}

.hiremeList{
    list-style-type: none;
}
#portfolioItem1 a{
    background-color: rgb(246, 114, 81);  
}

#portfolioItem1 a:hover{
    background-color: #f44336;
    transition: background-color 0.5s linear;
}
#portfolioItem2 a{
    background-color: rgb(125, 81, 246);  
}
#portfolioItem2 a:hover{
    background-color: #3649f4;
    transition: background-color 0.5s linear;
}
#portfolioItem3 a{
    background-color: rgb(245, 23, 71);  
}
#portfolioItem3 a:hover{
    background-color: rgb(226, 29, 104);  
    transition: background-color 0.5s linear;
}
.section-3{
    background-color: inherit;
    color: inherit;


}

.heading3{
    padding-top: 20px;
}

.galaxus{
    background-color: #3649f4 !important;
    color: whitesmoke !important;
    transition: all .3s ease-out;

}
.profilecardContainer{
    min-width: 250px;
    width: 15vw;
    height: 600px;
    position: fixed;
}
.profileImg{
   height: 150px; width: 150px;
   border-radius: 75px;
}

.flexo{
    display: flex; flex-direction: column;
     align-items: center;
    height: 100%; width: 100%;
    margin-top: 34px;
}
.profileName{
    font-family: 'Anton', sans-serif;
    letter-spacing: .5px;
    font-weight: 500;
    font-size: 28px;
}
.profileDes{
    font-family: 'Anton', sans-serif;
    letter-spacing: .5px;
    font-weight: 500;
    color: #f44336;
    text-decoration: none;
}
a:visited{
    text-decoration: none !important;
}
.profileicons-container{
    margin-top: 8px;
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.portfolioIcons-inner{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between; align-items: center;
}
.socialIco{
    height: 26px;
}
.cvContainer{
    width: 17%;
}
.cv{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100%;
    justify-content: space-between
}
.cvText{
    font-family: 'Anton', sans-serif;
    font-size: 22px;
}
.cvIco{
    height: 22px;
}
.blogContainer{
    width: 24%;
}
.blog{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100%;
    justify-content: space-between
}
.blogText{
    font-family: 'Anton', sans-serif;
    font-size: 22px;
}
.blogIco{
    height: 24px;
}


@media only screen and (max-width: 786px) {
    body{
        padding:0;
        margin:0;
        font-size: 16px;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    .fixed{
        position: static;
    }
    .sections{
        width: 100%;
    }
    nav{
        width: 100%;
    }
    aside{
        display: none;
    }
    .portfolioContainer{
        max-width: 1400px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content:  center;
        align-items: center;
    }
    .portfolioItem{
        width: 100%;
        height: 30%;
        position: relative;
    }
} 
@media only screen and (max-width: 1024px) {
    body{
        padding:0;
        margin:0;
        font-size: 16px;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    aside{
        display: none;
    }
    .sections{
        width: 100%;
        padding-left: 5px;
    }
    nav{
        width: 100%;
    }


} 

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    body{
        padding:0;
        margin:0;
        font-size: 16.5px;
    }

 
} 
::selection {
    background: #f44336; /* WebKit/Blink Browsers */
    color: white;
  }
  ::-moz-selection {
    background: #f44336; /* Gecko Browsers */
    color: white;
  }

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f44336; 
  }
  
